RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://admin.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://admin.officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^http://api.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://api.officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^http://officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^http://user.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://user.officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.api.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.api.officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.user.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.user.officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^https://api.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://api.officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^https://officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^https://user.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://user.officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.api.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.api.officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.officialmusamakueni.co.ke$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.user.officialmusamakueni.co.ke/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.user.officialmusamakueni.co.ke$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp|js|jsx|css|html|php)$ https://officialmusamakueni.co.ke [R,NC]

